/* ------------------------------------------ */
/* ABOUT BLOCK
/* ------------------------------------------ */
.about {
	background: $palette-about;

	@include section;
	@include container;
}

.about__services {
	width: 100%;
	margin-bottom: 5em;
}

.about__process {
	width: 100%;
	margin-bottom: 5em;
}

.about__clients {
	width: 100%;
	margin-bottom: 5em;

	@include flex;
	justify-content: center;

	&-item {
		width: calc(100% / 6);
	}
}

.about__facts {
	width: 100%;
	margin-bottom: 5em;
}
