/* ------------------------------------------ */
/* CERTIFICATES BLOCK
/* ------------------------------------------ */
.certificates {
	background: $palette-certificates;

	@include section;
	@include container;
}

.certificates__items {
	width: 100%;

	column-count: 1;
	column-gap: 30px;
	@include mediaquery-md {
		column-count: 2;
	}
	@include mediaquery-lg {
		column-count: 3;
	}
}

.certificates__item {
	position: relative;

	display: inline-block;

	width: 100%;
	margin-bottom: 30px;

	text-align: center;
}

.certificates__other {
	column-count: 2;
	column-gap: 30px;
	@include mediaquery-md {
		column-count: 3;
	}
	@include mediaquery-lg {
		column-count: 6;
	}

	img {
		margin-bottom: 30px;
	}
}
