/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
	width: 100%;
	height: 100vh;
	margin-top: 50px;

	transform: translateX(-120px);

	@include mediaquery-md {
		width: 100%;
		margin: 0;

		transform: none;
	}

	&--active {
		transform: none;
	}
}
