/* ------------------------------------------ */
/* MAIN BLOCK
/* ------------------------------------------ */
.main {
	display: flex;

	padding: 15px;

	color: #525252;
	background: url(../img/main/main__bg.jpg) no-repeat center center;
	background-size: cover;

	flex: 1 0 auto;
	align-items: center;

	&__container {
		max-width: 1200px;
		height: 100%;
		margin: 0 auto;

		text-align: center;
	}
}
