/* ------------------------------------------ */
/* GLOBAL
/* ------------------------------------------ */
* {
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;

	width: 100%;
	max-width: 100%;
	height: 100vh;
	max-height: 100vh;
	margin: 0;
	padding: 0;
}

body {
	color: $palette-secondary;
	background: $palette-quinary;

	font-family: $font-family-primary;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul {
	margin: 0;
	padding: 0;

	list-style-type: none;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

a {
	text-decoration: none;

	outline: none;

	&:hover {
		text-decoration: none;

		outline: none;
	}
}

.container-grid {
	display: grid;
}
